a {
	color: inherit;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
		text-decoration-color: $blue;
		text-decoration-thickness: 2px;
	}

	&:active {
		color: inherit;
		text-decoration: underline;
		text-decoration-color: $purple;
		text-decoration-thickness: 2px;
	}
}
