.header-nav {
	&-routes {
		align-items: center;
		display: flex;
		margin: 0;
		padding: 0;

		a {
			border-bottom: 2px solid transparent;
			border-radius: 2px;
			cursor: pointer;
			padding: $spacing-xs $spacing-md;
			text-decoration: none;
			transition: border-bottom ease-in $fast;

			&:hover {
				border-color: $shadow-purple;
			}

			&:active {
				border-color: $shadow-purple;
			}

			.active {
				border-color: $shadow-purple;
			}
		}

		li {
			display: inline;
			margin: 0 $spacing-sm;
			padding: 0;
		}

		ul {
			margin: 0;
			padding: 0;
		}
	}
}
