<div class="header">
	<nav class="header-nav">
		<div class="logo">
			{{ range where .Site.Menus.main "Identifier" "==" "home" }}
			<a href="{{.URL}}">
				{{ if templates.Exists "partials/logo.html"}}
				{{ partial "logo.html" }}
				{{ else }}
				{{ .Name }}
				{{ end }}
			</a>
			{{ end }}
		</div>
		<div class="header-nav-routes">
			<ul>
				{{ range where .Site.Menus.main "Identifier" "!=" "home" }}
				<li>
					<a href="{{.URL}}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</nav>
</div>

<!--
	TODO
		remove/style current location
-->
