<svg aria-labelledby="logo-title logo-desc" role="img" version="1.1" viewBox="0 0 46 36"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
	<title id="logo-title">"{{ site.Params.title }}"</title>
	<desc id="logo-desc">{{ site.Params.description }}</desc>
	<defs>
		<radialGradient cx="83.9559927%" cy="50%" fx="83.9559927%" fy="50%" r="95.5206631%"
			gradientTransform="translate(0.839560,0.500000),scale(1.000000,0.428571),rotate(180.000000),scale(1.000000,0.938887),translate(-0.839560,-0.500000)"
			id="radialGradient-1">
			<stop stop-color="#FEFEFE" offset="0%"></stop>
			<stop stop-color="#17D4BE" offset="37.1856513%"></stop>
			<stop stop-color="#A31BCF" offset="100%"></stop>
		</radialGradient>
		<radialGradient cx="12.3429075%" cy="50%" fx="12.3429075%" fy="50%" r="99.0658774%"
			gradientTransform="translate(0.123429,0.500000),scale(1.000000,0.589286),scale(1.000000,0.877737),translate(-0.123429,-0.500000)"
			id="radialGradient-2">
			<stop stop-color="#FFFFFF" offset="0%"></stop>
			<stop stop-color="#17D4BE" offset="25.5740833%"></stop>
			<stop stop-color="#A31BCF" offset="100%"></stop>
		</radialGradient>
	</defs>
	<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
		font-family="Raleway-Medium, Raleway" font-size="48" font-weight="400">
		<g id="Logo-(colorset-B)" transform="translate(0.000000, -10.000000)">
			<text id="J" fill="url(#radialGradient-1)">
				<tspan x="0" y="45">J</tspan>
			</text>
			<text id="B" fill="url(#radialGradient-2)">
				<tspan x="15" y="45">B</tspan>
			</text>
		</g>
	</g>
</svg>
